body {
	font-size:14px;
	line-height:18px;
	color:black;
	font-weight:normal;
	font-family:PTSands Narrow,sans-serif;
}
h1 {
	font-size: 30px;
	line-height: normal;
	color:black;
	font-weight:normal;
	font-family:PTSands Narrow,sans-serif;
}
legend {
	font-size:24px;
	line-height:normal;
	color:black;
	font-weight:normal;
	font-family:PTSands Narrow,sans-serif;
}

/* ============================================================================
main-header
 ============================================================================ */
 
 .clearfix::after {
  content: "";

  display: table;
  clear: both;
}
 .main-header {
	background: grey;
}
.main-container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	background: yellow;
}
.logo {
    float: left;
	width: 140px;
	margin-right: 10px;
	background: black;
	/* Только для оформления сетки */
    min-height: 70px;
}
.main-menu {
	float: left;
	width: 640px;
	background: #ccffcc;
	/* Только для оформления сетки */
    min-height: 70px;
}
.main-menu li {
	display: inline-block;
    vertical-align: top;
}
.user-block {
	float: right;
	width: 110px;
	background: pink;
	/* Только для оформления сетки */
    min-height: 70px;
}

/* ============================================================================
BARBERSHOP-SHOP
 ============================================================================ */
 
.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	background: magenta;
}
.main-content {
	background: red;
}
.breadcrumbs li {
	display: inline-block;
    vertical-align: top;
}
.left-column {
	float: left;
	width: 220px;
	margin-right: 20px;
	background: orange;
}
.goods-catalog {
	float: right;
	width: 700px;
	background: green;
}
.goods-catalog ul {
	padding: 0;
	margin: 0;
	font-size: 0;
}
.goods-catalog li {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.goods-catalog li:nth-child(3n) {
	margin-right: 0;
}
.goods-item {
	font-size:14px;
	width: 220px;
	height: 288px;
	margin-bottom: 20px;
	background: yellow;
}
/* ============================================================================
footer
 ============================================================================ */
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: brown;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}
.footer-social {
  float: left;
  width: 180px;
}
.footer-copyright {
  float: right;
  width: 180px;
}

/* ============================================================================
BARBERSHOP-ITEM
 ============================================================================ */
 
.gallery {
	float:left;
	width:460px;
	background: blue;
}
 .gallery ul {
	 width:460px;
	 margin:0;
	 padding:0;
	 font-size: 0;
	 background: yellow;
 }
.gallery li {
	display:inline-block;
	vertical-align:top;
	margin-right:20px;
}
.gallery li:nth-child(3n) {
	margin-right: 0;}

.right-column {
	float:right;
	width:400px;
	background: green;
}
.description {
	width:400px;
	background: orange;
}
