body {
	font-size:14px;
	line-height:18px;
	color:black;
	font-weight:normal;
	font-family:PTSands Narrow,sans-serif;
}
h1 {
	font-size:30px;
	line-height:normal;
	color:black;
	font-weight:normal;
	font-family:PTSands Narrow,sans-serif;
}
legend {
	font-size:24px;
	line-height:normal;
	color:black;
	font-weight:normal;
	font-family:PTSands Narrow,sans-serif;
}
